.project-card {
 margin:10px
}
.mat-card-avatar {
  height: 25px;
  width: 25px;
}
.card-header-image {
  background-size: cover;
  background-position-x: 50%
}

.mat-card-content {
	margin-bottom: 0px !important;
}
.mat-card:hover .mat-card-title{
 color: #449d44;
}
.mat-card:hover {
 cursor: pointer;
}
