
<div class="row" style="width:113%">
  <mat-card class="project-card col-lg-2 col-md-2 col-sm-3 col-xs-5"  *ngFor="let project of projects" routerLink="/project/{{project.id}}">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" [style.background-image]="'url(https://www.geonames.org/flags/x/' + getProjectCountryCode(project) + '.gif)'"></div>
      <mat-card-title style="font-size:17px">
       {{project.name.slice(0,24)}}
        <span *ngIf='project.name.length>25' >...</span>
      </mat-card-title>

      <mat-card-subtitle>
       {{project.start_date | date:"yyyy"}}
       <span *ngIf="!isSameYear(project.start_date,project.end_date)">- {{project.end_date | date:"yyyy"}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{image_url}}{{project.image}}" *ngIf="project.image" alt="Project photo {{project.name}}" >
    <img src="{{image_url}}default_podcast_image.png" *ngIf="!project.image"
         alt="Project photo {{project.name}}" style="max-width:100%;">

    <mat-card-content>
      <p>
        {{project.focus.slice(0,62)}}
        <span *ngIf='project.focus.length>63' >...</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<br>
<div class="" style="text-align:center" *ngIf="next_page">
  <button mat-stroked-button style="color:rgb(61, 61, 61)" (click)="load_more()" disabled="{{disable_requests}}" >
   <span *ngIf="disable_requests">
    Loading...
   </span>

   <span *ngIf='!disable_requests'>
   Load more project cards
   </span>
  </button>
</div>
