<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- top menu -->
<mat-toolbar color="custom">
  <mat-toolbar-row>
    <span class="logo link" routerLink="/"></span>
    <span class="toolbar-spacer"></span>
    <div class="" style="font-size:15px; color:white">

     <app-search></app-search>
     <button mat-button>Login</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- end top menu -->

<div id="main-container" style="min-height:600px">

<!-- content -->
 <router-outlet></router-outlet>
<!-- end content -->

<br>


</div>
<br>
<br>

<!-- footer -->
<mat-toolbar color="custom">
  <mat-toolbar-row style="padding: 1.5em 0 0 0" >
   <img src="../assets/FRI-logo-BI-white.png" class='footer-element' alt="" style="width: 250px;">
  </mat-toolbar-row>

  <!-- TODO Do we need to mention WUSC here -->
  <mat-toolbar-row >
   <span class="footer-element"> © 2018. Designed and built by Farm Radio International.</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- end footer -->
