.toolbar-spacer {
  flex: 1 1 auto;
}
.footer-element {
   color: white;
   font-size: 12px;
   font-weight: 100;
   margin:0 auto
}
mat-toolbar.mat-toolbar {
   background-color: #449d44;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#main-container {
 padding: 0 5%;
}


@media screen and (max-width: 500px) {
  #main-container {
   padding: 0;
  }
}
