<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- top menu -->
<mat-toolbar color="custom">
  <mat-toolbar-row>
    <span class="logo link" routerLink="/"></span>
    <span class="toolbar-spacer"></span>
    <div class="" style="font-size:15px; color:white">

     <app-search></app-search>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp;
     <!-- <button mat-button>Login</button> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- end top menu -->

<div id="main-container" style="min-height:600px">

<!-- content -->
 <router-outlet></router-outlet>
<!-- end content -->

<br>


</div>
