<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
 style='width:96%'>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="program__name" >
    <td mat-cell *matCellDef="let element" routerLink='/project/{{element.project}}' >
     <b class="sub-text">Episode {{element.week}} &nbsp;</b>
     {{element.program__name}} - {{element.topic}}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="created_at" >
    <td mat-cell *matCellDef="let element" routerLink='/project/{{element.project}}'>
     <span style="color:gray">{{element.created_at|humanizeDate}}</span>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
