<div  style="margin-left: -8px;" >
  <br>

  <mat-drawer-container class="drawer-container"  autosize hasBackdrop='false' >
    <mat-drawer #drawer id='drawer' class="example-sidenav" position='end' mode="over" autoFocus="False" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')" >
      <h4><mat-icon mat-list-icon>comments</mat-icon> Week 6 - Commments</h4>

      <div class="media-body" >

                              <!-- ngIf: comment.user -->
                              <h4 class="media-heading ng-binding ng-scope" ng-if="comment.user">
                                  <!-- ngIf: comment.user__name == ' ' -->
                                  Mulu Berhe

                                  <small class="ng-binding">&nbsp; Radio officer at Farm Radio International </small>
                                  <small class="pull-right ng-binding">3&nbsp;days, 15&nbsp;hours</small>
                              </h4><!-- end ngIf: comment.user -->

                              <!-- ngIf: !comment.user -->

                              <div ng-bind-html="comment.content" class="comment-content ng-binding">
                               <p>
                                ለአዘጋጆች
                                <br>
                                •&nbsp;&nbsp;&nbsp;&nbsp;
                                አርሶ አደሮችን ማካተታችሁ ፣ባለሞያ መጠተየቃችሁ በጣም ጥሩ ነው<br>•&nbsp;&nbsp;&nbsp;&nbsp;ወንድና ሴት ሁናችሁ ማቀረባችሁ ፐሮግራሙ እንዳይሰለች ያደርገዋል<br>•&nbsp;&nbsp;&nbsp;&nbsp;የአድማቾች ግብረመልስ ግን ለምን ከዩሊዛ ሎግ አውርዳችሁ በድምጽ እንደማታሰገቡ አልገባኝም <br>አመሰግናለሁ<br><br></p></div>

                              <!-- ngIf: comment.user == user_id -->
                          </div>
      <mat-form-field style="width:100%" color='warn'>
      <textarea matInput placeholder="Leave comments here"></textarea>
    </mat-form-field>

            <button type="button" mat-button (click)="drawer.toggle();toggleCommentShown()">
             Comments
            </button>
    </mat-drawer>
    <div class="row " >
      <div id="project-normal-view" class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-9 "  [class.hide]='commentShown'>
        <mat-card class="project-card" >
           <mat-card-header>

             <mat-card-title>

              <!-- country flag -->
               <span class="search-result-flag" style=""
                [style.background-image]="'url(https://www.geonames.org/flags/x/'+country_code+'.gif)'">
               </span>
              <!-- end country flag -->

              <h3 class='section-header' style="margin-top:0; margin-left:30%">{{project.name}} <span >{{project.doner}}</span></h3>
             </mat-card-title>
           </mat-card-header>

           <img src="http://localhost:8000/static/img/default_podcast_image.png"
                alt="Project photo " style="max-width:100%;">
           <mat-card-content>
            <p><b>Jul, 2010 - Dec, 2015</b></p>
             <p>
               {{project.focus}}
             </p>


           </mat-card-content>
        </mat-card>
        <br>
     </div>

     <div id="program-details" class="col-xl-6 col-lg-6 col-md-7 col-sm-7 col-xs-12 " style="padding: 0 40px;">
        <div class="" style="position:relative" [class.hide]='!commentShown'>

             <!-- country flag -->
              <span class="search-result-flag blocked-flag" style=""
               [style.background-image]="'url(https://www.geonames.org/flags/x/et.gif)'">
              </span>
             <!-- end country flag -->
          <h2 class='section-header' >{{project.name}} <span >CIMMYT</span></h2>
          <p><b>Jul, 2010 - Dec, 2015</b></p>
        </div>

       <mat-list>
        <mat-list-item style="margin-left:-20px;">
         <p style="color:gray">• {{programs.length}} Program<span *ngIf="programs.length>1">s</span> in {{project.name}} project •</p>
        </mat-list-item>
        <mat-list-item style="color:#449d44;margin-left:-20px;" >
          <mat-icon matBadgePosition="before" matBadge="{{programs.length}}" mat-list-icon sty>radio</mat-icon>&nbsp;&nbsp;
          <mat-form-field  style="font-size:20px;font-weight:bold;width:70%; " color='warn'>
            <mat-select [formControl]="programControl" >
              <mat-option *ngFor="let program of programs" [value]='program'>
               {{program.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item >

        <mat-list-item style="margin-left:-20px;">
          <h3 class="section-header">
           <mat-icon mat-list-icon>business</mat-icon>
           {{programControl.value.radio_station__name}}: {{programControl.value.public_name}}
          </h3>
        </mat-list-item>

        <p>

        <button mat-mini-fab color='primary' style="background-color:#449d44">
         <mat-icon aria-label="Example icon-button with a heart icon" style="direction: rtl;" >podcast</mat-icon>
        </button>
         &nbsp;&nbsp; {{programControl.value.weeks}} weeks program:
         {{programControl.value.start_date| date:"MMM yyyy"}} - {{programControl.value.end_date | date:"MMM yyyy"}}
        </p>

        <mat-divider></mat-divider>
        <br>
        <mat-chip-list>
          <mat-chip>Most recent episode</mat-chip>
        </mat-chip-list>
        <div  class="" >
        </div>
        <mat-list-item *ngFor="let note of [1,2]" style="color:gray">
          <mat-icon mat-list-icon >assignment</mat-icon>
          <h4 mat-line>Week # - {{note.name}}</h4>
           <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="">
          </span>
          <span class="">
           <button type="button" mat-button (click)="drawer.toggle();toggleCommentShown()">
            1 Comment
           </button>
          </span>
        </mat-list-item>
       </mat-list>
     </div>
     <br>
   </div>
  </mat-drawer-container>
</div>
