<div  style="margin-left: -8px;position:relative" >
  <mat-drawer-container class="drawer-container"  autosize hasBackdrop='false' >
    <mat-drawer #drawer id='drawer' position='end' mode="over" autoFocus="False" >
    <button type="button" mat-button (click)="drawer.toggle();toggleCommentShown()" style="float:right">
     X Close
    </button>
      <h4><mat-icon mat-list-icon class="fix-icon">comments</mat-icon> Comments</h4>

      <div *ngIf="comments.length ==0">
       No comments yet
      </div>
      <div class="media-body" >
       <div class="comment-content" *ngFor="let comment of comments">
        <h3>
        {{comment.contact__first_name}}
        {{comment.contact__last_name}}
        <span class="" style="color:gray;font-size:15px;">
         {{comment.contact__job_title}}
        </span>
        </h3>
        <span class="" [innerHTML]="comment.content"></span>
       </div>

      </div>
    <br>
    </mat-drawer>

    <div class="row " style="margin:0;" >
      <div id="project-normal-view" class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-9 "  [class.hide]='commentShown'>
        <mat-card class="project-card" >
           <mat-card-header>

             <mat-card-title>

              <!-- country flag -->
               <span class="search-result-flag" style=""
                [style.background-image]="'url(https://www.geonames.org/flags/x/'+country_code+'.gif)'">
               </span>
              <!-- end country flag -->

              <h3 class='section-header' style="margin-top:0; margin-left:30%">{{project.name}} <span >{{project.doner}}</span></h3>
             </mat-card-title>
           </mat-card-header>

           <img src="{{image_url}}default_podcast_image.png"
                alt="Project photo " style="max-width:100%;" *ngIf="!project.image">

           <img src="{{image_url}}{{project.image}}" *ngIf="project.image"
                alt="Project photo " style="max-width:100%;">
           <mat-card-content>
            <br>
            <p><b>{{project.start_date | date:"MMM yyyy"}} - {{project.end_date | date:"MMM yyyy"}}</b></p>
             <p>
               {{project.focus}}
             </p>


           </mat-card-content>
        </mat-card>
        <br>
     </div>

     <div *ngIf="programs.length==0" style="padding:4em">
      <h2 class='section-header' >{{project.name}} <span >{{project.doner}}</span></h2>
      <br><br>
      No programs registered yet under this project.

     </div>

     <div id="program-details" class="col-xl-6 col-lg-6 col-md-7 col-sm-7 col-xs-12 " style="padding: 0 40px;" *ngIf="programs.length>0">
        <div class="" style="position:relative" [class.hide]='!commentShown'>

             <!-- country flag -->
              <span class="search-result-flag blocked-flag" style=""
               [style.background-image]="'url(https://www.geonames.org/flags/x/'+country_code+'.gif)'">
              </span>
             <!-- end country flag -->
          <h2 class='section-header' >{{project.name}} <span >{{project.doner}}</span></h2>
          <p><b>{{project.start_date |date: "MMM yyyy"}} - {{project.end_date | date: "MMM yyyy"}}</b></p>
        </div>

       <mat-list >
        <mat-list-item style="margin-left:-20px;">
         <p style="color:gray">{{programs.length}} Radio program<span *ngIf="programs.length>1">s</span> in this project</p>
        </mat-list-item>
        <mat-list-item style="color:#449d44;margin-left:-20px;" >
          <mat-icon matBadgePosition="before" matBadge="{{programs.length}}" mat-list-icon sty>radio</mat-icon>&nbsp;&nbsp;
          <mat-form-field  style="font-size:17px;font-weight:bold;width:70%; " color='warn'>
            <mat-select [formControl]="programControl" >
              <mat-option *ngFor="let program of programs" [value]='program'>
               {{program.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item >
        <mat-list-item>
         {{programControl.value.weeks}} weeks program:
         {{programControl.value.start_date| date:"MMM yyyy"}} - {{programControl.value.end_date | date:"MMM yyyy"}}
        </mat-list-item>

        <mat-list-item style="margin-left:-20px;" >
          <h4 class="section-header link" routerLink="/radio_station/{{programControl.value.radio_station}}">
           <mat-icon mat-list-icon class="fix-icon">business</mat-icon>
           {{programControl.value.radio_station__name}}: {{programControl.value.public_name}}
          </h4>
        </mat-list-item>

        <p>

       <a href="{{api_url}}logs/feed/{{programControl.value.id}}#itunes" mat-mini-fab color='primary' style="background-color:#449d44">
         <mat-icon aria-label="Example icon-button with a heart icon" style="direction: rtl;" >podcast</mat-icon>
        </a>
        &nbsp;&nbsp;
        Podcast URL
        <br>
        </p>

        <mat-divider></mat-divider>

        <h3 *ngIf="logs.length>0">
         <mat-icon mat-list-icon class="fix-icon" >assignment</mat-icon>
         Available episodes</h3>

         <p *ngIf="logs.length==0">No episodes registered yet</p>
       </mat-list>

       <div *ngFor="let log of logs;let i=index;" [attr.data-index]="i" class="log-list-item"
         (click)="changeActiveLog(log)" [ngClass]="{active:activeLog.id==log.id}">

          <span [ngClass]="{hidden:pageEvent.pageIndex != floor(i/5)}">
           <span >
            <mat-icon mat-list-icon class="fix-icon" >play_circle_outline </mat-icon> Episode {{log.week}} <i *ngIf="log.topic"> - </i>{{log.topic}}</span>
            <div class="" style="margin-left:30px;">
             {{log.focus_statement}}
            </div>
           <br>
           </span>
          <!-- </i> -->
        </div>

       <!-- paginator -->

       <mat-paginator [length]="logs.length"
                     [pageSize]="5"
                     (page)="pageEvent = $event">
       </mat-paginator>
       <!-- end of paginator -->

     <br><br>
     <br><br>
    </div>

   </div>
  </mat-drawer-container>

   <div *ngIf="activeLog.id" id="player">
    <mat-chip-list style="float:left;">
    <mat-chip style="float:left;font-size:17px;" >
     Episode {{activeLog.week}} {{activeLogLabel}} {{activeLog.topic}}</mat-chip>
    </mat-chip-list>


    <button mat-stroked-button (click)="drawer.toggle();toggleCommentShown();"  style="margin-left:20px;float:left">{{comments.length}} Comments</button>

      <audio controls="controls" preload="none"  *ngIf="activeLog.recording_backup" id='audio'>
       <source type="audio/mpeg"   [src]="activeLog.recording_backup" />
      </audio>
   </div>
</div>
