<mat-form-field >
 <input matInput placeholder="Search " [(ngModel)]="searchValue" aria-label="search"  [formControl]="stateCtrl">
</mat-form-field>

 <div class="search-results-container" *ngIf="searchValue">
  <div class="search-block">
  <h4 *ngIf="(project_results| async).length > 0; else noProject">
   Projects
  </h4>

  <ng-template #noProject>
   <p>No projects found</p>
  </ng-template>
  <ul class="search-single-result" >
   <li *ngFor="let result of project_results | async">
     <div class="search-result-flag"
      style="position:absolute; top:20%"
      [style.background-image]="'url(https://www.geonames.org/flags/x/'
      + getProjectCountryCode(result.country) + '.gif)'">
     </div>
     <a href="{{sub_site}}project/{{result.id}}" class="link search-result-text">{{result.name}} - {{result.doner}}</a>
   </li>
  </ul>
  </div>
 <div class="search-block" >
  <h4 *ngIf="(radiostation_results| async).length > 0; else noStation">
   Radio Stations
  </h4>
  <ng-template #noStation>
   <p>No stations found</p>
  </ng-template>
  <ul class="search-single-result">
   <li *ngFor="let result of radiostation_results | async">
     <a class="link" href="{{sub_site}}radio_station/{{result.id}}">
     <mat-icon mat-list-icon>business</mat-icon>
     {{result.name}}, {{result.city}}
     </a>
   </li>
  </ul>
 </div>
 </div>
