<mat-form-field >
 <input matInput placeholder="Search projects" aria-label="search" [matAutocomplete]="auto" [formControl]="stateCtrl">
 <mat-autocomplete #auto="matAutocomplete" [panelWidth]="250">
   <mat-option *ngFor="let result of results | async"  [value]="result.name">
     <!-- country flag -->
      <div _ngcontent-c4 class="card-header-image mat-card-avatar"
       style="position:absolute; top:25%"
       [style.background-image]="'url(https://www.geonames.org/flags/x/'
       + getProjectCountryCode(result.country) + '.gif)'">
      </div>
     <!-- end country flag -->

     <span (click)="redirect('http://google.com')" style="margin-left: 15%;">
      {{result.name}} | {{result.doner}}
     </span>

   </mat-option>
 </mat-autocomplete>
</mat-form-field>
